<% layout('../layout.ejs') %>
<h4>Créateur : <%= folder.creator %></h4>
<a class="btn btn-primary" href="/<%= folder.name %>/upload_file">Ajouter un fichier</a>

<table class="table table-striped">
	<thead>
		<th></th>
		<th>Nom</th>
		<th>Créateur</th>
		<th>Date de création</th>
		<th>Nombre de téléchargements</th>
		<th>Suppression</th>
	</thead>
	<tbody>
		<% files.forEach(function(file) { %>
			<tr>
				<td><%- file.icon%></td>
				<td><a href="/<%=folder.name %>/<%= file.name %>"><%= file.name %></a></td>
				<td><%= file.creator %></td>
				<td><%= file.created_at.getDate() %>-<%=file.created_at.getMonth()%>-<%=file.created_at.getFullYear()%> <%= file.created_at.getHours() %>:<%= file.created_at.getMinutes() %></td>
				<td><%= file.nb_downloads %></td>
				<td><a class="btn btn-danger btn-xs" href="/<%=folder.name %>/<%=file.id %>/delete"><i class="glyphicon glyphicon-remove"></i>Supprimer</a></td>
			</tr>
	    <% }); %>
	</tbody>
</table>